nav {
    font-family: Lora;
    font-size: 17px;
    line-height: 1.8;
    font-weight: 400;
    font-style: normal;

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.carousel-item {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
    background-color: black;
}
.car-bg-1 {
    background-image: url(./img/carousel/3.jpg);
}
.car-bg-2 {
    background-image: url(./img/carousel/4.jpg);
}
.car-bg-3 {
    background-image: url(./img/carousel/7.png);
}
.car-bg-4 {
    background-image: url(./img/carousel/1.jpg);
}
.car-bg-5 {
    background-image: url(./img/carousel/2.jpg);
}
.car-bg-6 {
    background-image: url(./img/carousel/5.jpg);
}
.car-bg-7 {
    background-image: url(./img/carousel/6.jpg);
}
.car-bg-8 {
    background-image: url(./img/carousel/8.jpg);
}

.section .title-line {
    color: #e31837;
}

.section.research {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.section.research .title-line {
    font-size: 26px;
}

.section.research .content {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.section.publication {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.section.publication .title-line {
    font-size: 26px;
}

.section.publication .entry span {
    color: #4e4e4e;
    font-weight: bold;
}

.section.publication .entry a {
    color: #4e4e4e;
    font-style: italic
}

.section.publication .entry .title {
    font-family: "Roboto", Sans-serif;
    color: #16181a;
    font-size: 16px;
    font-weight: 700;
}

.section.publication .entry .content {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.section.people {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.section.people .title-line {
    font-size: 20px;
}

.section.people .content {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.section.news .entry {
    display: flex;
    font-size: 18px;
}
.section.news .entry a {
    font-size: 16px;
    font-style: italic;
}
.section.news span {
    font-weight: bold;
}
.section.news .time {
    font-size: 22px;
    font-style: italic;
    margin-left: 0;
    margin-right: 2rem;
}
.section.news .title-line {
    font-size: 20px;
}
.section.news .container {
    display: flex;
    flex-direction: column;
}
.section.news .entry .footer {
    margin-top: 5px;
    color: #7a7a7a;
    font-size: 16px;
}
